<div class="container position-sticky" *ngIf="!isPaymentModalVisible">
    <div *ngIf="errorMessage" class="alert alert-danger text-center justify-content-center position-static">
        {{ errorMessage }}
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 repayment-card">
                <div class="card-header bg-gradient-primary text-white text-center rounded-top">
                    <h2 class="h2 mb-0 text-dark" >Repayment Details</h2>
                </div>
                <div class="card-body bg-light">
                    <h4 class="h4 text-dark mb-3">{{loanType}}</h4>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0">
                            <span>Principal Amount:</span>
                            <span class="fw-bold text-success">{{principalAmt}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0">
                            <span>Interest Rate (%):</span>
                            <span class="fw-bold text-secondary">{{InterestRate}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0">
                            <span>period (Monthly):</span>
                            <span class="fw-bold text-info">{{period}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-12">
            <p class="balance alert alert-info d-flex align-items-center justify-content-between">
                <span>
                    <strong>Total Outstanding Payment:</strong>
                    <span class=" badge bg-secondary p-2 mx-4" style="font-size: 16px;">
                        {{ outstandingBalance | currency: 'INR' }}
                    </span>
                </span>
                <button class="btn btn-primary" [disabled]="!filteredRepayments || filteredRepayments.length === 0"
                    (click)="downloadPDF()">
                    Download PDF
                </button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Monthly Due</th>
                            <th>Principal </th>
                            <th>Interest</th>
                            <th>Balance</th>
                            <th>Due Date</th>
                            <th>Payment Date</th>
                            <th>
                                Status
                                <button class="btn btn-sm btn-link d-flex align-items-center justify-content-center"
                                    (click)="toggleStatusFilter()" style="padding: 0;">
                                    <i class="bi"
                                        [ngClass]="{'bi-caret-down-fill': !isFilteringPending, 'bi-caret-up-fill': isFilteringPending}"
                                        style="background-color: black; display: inline-block; width: 16px; height: 16px; text-align: center;">
                                    </i>
                                </button>
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!filteredRepayments || filteredRepayments.length === 0">
                            <td colspan="10" class="text-center">No Data Available</td>
                        </tr>
                        <tr *ngFor="let repayment of filteredRepayments; let i = index">
                            <td data-label="S.NO">{{ i + 1 }}</td>
                            <td data-label="MonthlyDue">{{ repayment.monthPay }}</td>
                            <td data-label="Principal Repayment">
                                {{ repayment.principalRepayment | currency: 'INR' }}
                            </td>
                            <td data-label="Interest">{{ repayment.interest | currency: 'INR' }}
                            </td>
                            <td data-label="Outstanding Balance">
                                {{ repayment.outstandingBalance | currency: 'INR' }}
                            </td>
                            <td data-label="Due Date">
                                <span class="badge bg-secondary" style="font-size: 14px;">
                                    {{ repayment.dueDate | date: 'yyyy-MM-dd' }}
                                </span>
                            </td>
                            <td data-label="Payment Date" >
                                <span class="badge bg-success" style="font-size: 14px;" *ngIf="repayment.paymentDate">
                                    {{ (repayment.paymentDate | date: 'yyyy-MM-dd') }}
                                </span>
                                <span *ngIf="!repayment.paymentDate" class="text-center justify-content-center d-flex">-</span>
                            </td>
                            <td data-label="Status">
                                <span >{{ repayment.status }}
                                </span>
                            </td>
                            <td data-label="Actions">
                                <ng-container *ngIf="repayment.status === 'DUE'; else paidTemplate">
                                    <button [disabled]="!canMakePayment(i)"
                                        (click)="makePayment(repayment.repaymentId, repayment.monthPay, userId)"
                                        class="btn btn-success btn-sm">
                                        <span class="badge">Pay Now</span>
                                    </button>
                                </ng-container>
                                <ng-template #paidTemplate>
                                    <span>Paid</span>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isPaymentModalVisible">
    <app-payment [repaymentId]="repaymentId" 
    [amountDue]="amountDue" 
    [userId]="userId"
    (paymentCompleted)="onPaymentCompleted($event)" (paymentCancelled)="onPaymentCancelled()">
    </app-payment>
</div>
